body
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
}
#wb_projectCarouselGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#projectCarouselGrid
{
   box-sizing: border-box;
   padding: 50px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#projectCarouselGrid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projectCarouselGrid > .row > .col-1, #projectCarouselGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#projectCarouselGrid > .row > .col-1, #projectCarouselGrid > .row > .col-2
{
   float: left;
}
#projectCarouselGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#projectCarouselGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 3px solid rgb(0, 0, 0);
   width: 50%;
   text-align: left;
}
#projectCarouselGrid:before,
#projectCarouselGrid:after,
#projectCarouselGrid .row:before,
#projectCarouselGrid .row:after
{
   display: table;
   content: " ";
}
#projectCarouselGrid:after,
#projectCarouselGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#projectCarouselGrid > .row > .col-1, #projectCarouselGrid > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_projectCarousel1
{
   background-color: #CCCCCC;
   background-image: none;
   margin: 0;
}
#wb_projectCarousel1
{
   height: 355px;
}
#projectCarousel1
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#projectCarousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
#projectCarousel1 .carousel-inner > .item
{
   display: none;
   position: relative;
   -webkit-transition: 500ms ease-in-out left;
   -moz-transition: 500ms ease-in-out left;
   transition: 500ms ease-in-out left;
   height: 100%;
   text-align: center;
}
#projectCarousel1 .innerframe
{
   padding: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#projectCarousel1 .carousel-inner > .item > img, #projectCarousel1 .carousel-inner > .item > a > img
{
   display: block;
   line-height: 1;
}
#projectCarousel1 .carousel-inner > .active, #projectCarousel1 .carousel-inner > .next, #projectCarousel1 .carousel-inner > .prev
{
   display: block;
}
#projectCarousel1 .carousel-inner > .active
{
   left: 0;
}
#projectCarousel1 .carousel-inner > .next, #projectCarousel1 .carousel-inner > .prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#projectCarousel1 .carousel-inner > .next
{
   left: 100%;
}
#projectCarousel1 .carousel-inner > .prev
{
   left: -100%;
}
#projectCarousel1 .carousel-inner > .next.left, #projectCarousel1 .carousel-inner > .prev.right
{
   left: 0;
}
#projectCarousel1 .carousel-inner > .active.left
{
   left: -100%;
}
#projectCarousel1 .carousel-inner > .active.right
{
   left: 100%;
}
#projectCarousel1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -84px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#projectCarousel1 .carousel-indicators li
{
   display: block;
   float: left;
   padding: 6px 6px 6px 6px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   text-indent: -999px;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(assets/images/page_default.png);
}
#projectCarousel1 .carousel-indicators .active
{
   background-image: url(assets/images/page_active.png);
}
#projectCarousel1 .frame
{
   width: 455px;
   display: inline-block;
   float: left;
   height: 355px;
}
#wb_projectCarousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_projectCarousel1 .pagination img
{
   border-style: none;
   padding: 6px 6px 6px 6px;
}
#wb_projectCarousel2
{
   background-color: #FFFFFF;
   background-image: none;
   margin: 0;
}
#wb_projectCarousel2
{
}
#projectCarousel2
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#projectCarousel2 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
#projectCarousel2 .carousel-inner > .item
{
   display: none;
   position: relative;
   -webkit-transition: 0ms ease-in-out left;
   -moz-transition: 0ms ease-in-out left;
   transition: 0ms ease-in-out left;
   height: 100%;
   text-align: left;
}
#projectCarousel2 .innerframe
{
   min-height: 355px;
   padding: 0;
}
#projectCarousel2 .carousel-inner > .item > img, #projectCarousel2 .carousel-inner > .item > a > img
{
   display: block;
   line-height: 1;
}
#projectCarousel2 .carousel-inner > .active, #projectCarousel2 .carousel-inner > .next, #projectCarousel2 .carousel-inner > .prev
{
   display: block;
}
#projectCarousel2 .carousel-inner > .active
{
   left: 0;
}
#projectCarousel2 .carousel-inner > .next, #projectCarousel2 .carousel-inner > .prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#projectCarousel2 .carousel-inner > .next
{
   left: 100%;
}
#projectCarousel2 .carousel-inner > .prev
{
   left: -100%;
}
#projectCarousel2 .carousel-inner > .next.left, #projectCarousel2 .carousel-inner > .prev.right
{
   left: 0;
}
#projectCarousel2 .carousel-inner > .active.left
{
   left: -100%;
}
#projectCarousel2 .carousel-inner > .active.right
{
   left: 100%;
}
#projectCarousel2 .frame
{
   width: 455px;
   display: inline-block;
   float: left;
   height: 355px;
}
#wb_projectText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_projectText1 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_projectText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_projectText2 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_projectText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_projectText3 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_projectText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_projectText4 div
{
   text-align: left;
   white-space: nowrap;
}
#projectButton1
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 10px 0px 10px 0px;
}
#projectButton2
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 10px 0px 10px 0px;
}
#projectButtton3
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 10px 0px 10px 0px;
}
#projectButton4
{
   border: 1px solid #007BFF;
   border-radius: 4px;
   background-color: #007BFF;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 10px 0px 10px 0px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3, #LayoutGrid2 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3, #LayoutGrid2 > .row > .col-4
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3, #LayoutGrid2 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 212px;
   height: 169px;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 212px;
   height: 167px;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 212px;
   height: 167px;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
   width: 970px;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1
{
   width: 100%;
}
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
}
#FontAwesomeIcon2
{
   height: 44px;
   width: 44px;
}
#FontAwesomeIcon2 i
{
   color: #337AB7;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #222222;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
}
#FontAwesomeIcon3
{
   height: 44px;
   width: 44px;
}
#FontAwesomeIcon3 i
{
   color: #337AB7;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 39px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #222222;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
}
#FontAwesomeIcon6
{
   height: 44px;
   width: 44px;
}
#FontAwesomeIcon6 i
{
   color: #337AB7;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 36px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #222222;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 445px;
   height: 352px;
   vertical-align: top;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 445px;
   height: 351px;
   vertical-align: top;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 444px;
   height: 349px;
   vertical-align: top;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 445px;
   height: 348px;
   vertical-align: top;
}

.button {
   border: none;
   color: #FFFFFF;
   text-align: center;
   transition: all 0.5s;
   cursor: pointer;
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 
 

